spring:
  datasource:
    url: jdbc:postgresql://${DB_HOST:prod-db}:${DB_PORT:5432}/expense_tracker
    username: ${DB_USER}
    password: ${DB_PASS}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  liquibase:
    change-log: classpath:db/changelog-master.yaml
  elasticsearch:
    uris: ${ELASTIC_URI:http://prod-elastic:9200}
app:
  logging:
    requests:
      enabled: true